@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0; 
    background: url('../public/opaque-modified.jpg');
    background-size: cover;
    height: 100%;
    box-shadow: inset 0 0 0 1000px rgba(227, 248, 251, 0.75);
}